/* style.css */

/* --- Fontes Personalizadas --- */

/* Precisa de Manutenção pra incluir em um único .css */

@font-face {
  font-family: 'Avallon'; 
  src: url('Avallon.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
  flex-direction: column; 
}

.logo-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexi-logo-svg {
  width: 100%; 
  height: 100%;
  display: none; /* aflterar para none quando */
}

.logo-text-flexi {
  font-family: 'Avallon', cursive;
  font-size: 70px;
  color: #8B52FF;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  padding-left: 6px;
}

.flexi-logo-svg.active-frame {
  display: block; /* Apenas o frame ativo aparece */
}